/* ESTILO DAS PÁGINAS */

* {
    font-family: 'Ubuntu', sans-serif;
}
body {
    background-color: #F2F2F2
}

h1 {

    font: 700;
    color: #203A40;
    font-size: 38px;
    text-align: center;

    margin: 48px 0;

}

img {
    height: 480px;
    width: 500px;
    padding-right: 72px;
    margin-top: 50%;
    margin-bottom: 50%;
    
}

.container, .containerList {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    box-shadow: 15px 15px 42px rgba(0, 0, 0, 0.1);
    width: 1100px;
    height: 700px;
    
    margin: 100px auto;
    border-radius: 4px;
}

.containerList {
    box-shadow: none;
    background: none;
    margin-top: 30px;
    height: auto;
}

form label {
    font: 500;
    font-size: 18px;
    display: flex;
    justify-content: left;

    margin-bottom: 10px;
    
}

form input {
    border: solid;
    border-color: #F24B59;
    outline: none;
    border-radius: 4px;

    width: 300px;
    height: 32px;
    padding: 6px;

    margin-bottom: 18px;
    background-color: #F0F0F0;
}

button {
    
    font: 700;
    text-decoration: none;
    color: white;
    
    font-size: 22px;

    border: none;
    border-radius: 4px;
    background-color:#F24B59;
    outline: none;

    width: 318px;
    height: 52px;
}

.links {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 30px;
    margin-right: 30px;
}

table th {
    text-align: center;
    width: 200px;
    height: 10px;
    line-height: 50px;
    color: white;
    background-color: #203A40;

}

table td {
    text-align: center;
    width: 200px;
    height: 10px;
    line-height: 40px;
    background-color: #A9A9A9;
}
p {
    text-align: center;
    color: white;
    background-color: #F24B59;

    padding: 2px;
    border-radius: 4px;
}

a {
    color: #BF495E;
    text-decoration: none;
    display: block;
    text-align: center;
}

#linkLogin {
    margin-top: 20px;
}

span {
    color: #BF495E;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 420px;
    margin-right: 420px;
}
header a {
    text-align: center;
}


button:hover {
    
    cursor: pointer;
    background-color: #BF495E;
    transition: 0.6s;
}

footer {
    color: #203A40;
    text-align: center;
    margin-top: -20px;
    width: 100%;
    
}